In [1]:
import pandas as pd
import numpy as np

from surprise import Reader
from surprise import Dataset
from surprise import SVD

In [ ]:
train_data = pd.read_csv("../data/train-PDA2019.csv")
train_data.columns = ["userID", "itemID", "rating","timeStamp"]

I sorted the data set to get a better look at the users.

In [2]:
train_data = train_data.sort_values("userID").reset_index(drop=True)
train_data = train_data.iloc[:,0:3]
train_data.head()

   userID  itemID  rating
0       1     919       4
1       1     608       4
2       1    2797       4
3       1    1545       4
4       1     594       4

In [3]:
test_data = pd.read_csv("../data/test-PDA2019.csv")
test_data.columns = ["userID", "recommended_itemID"]

In [4]:
content_df = pd.read_csv("../data/content-PDA2019.csv")
#content_df.head()

In [5]:
reader = Reader(rating_scale=(1,5))
data = Dataset.load_from_df(train_data[['userID', 'itemID','rating']], reader)

In [6]:
rating_df = data.build_full_trainset()

In [7]:
user_rating = rating_df.ur
item_rating = rating_df.ir
num_users = rating_df.n_users
num_items = rating_df.n_items
num_ratings = rating_df.n_ratings

mean_ = rating_df.global_mean
mean_ = np.round(mean_, decimals=2)

density_ = num_ratings/(num_users*num_items)
sparsity_ = 1 - density_

In [8]:
print("Users", num_users)
print("items", num_items)
print("ratings ", num_ratings)
print("Mean rating", mean_)
print("density " ,density_ *100, "%")
print("sparsity ", sparsity_ *100 ,"%")

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [ ]:
#trying to find the best parameters for SVD
'''
Commented out because it takes 20 mins to calculate
parm_grid = {"n_epochs": [5,20], "lr_all":[0.001,0.05],
             "reg_all": [0.01,0.5]}
gs = GridSearchCV(SVD,
                  parm_grid,
                  measures=["rmse", "mae", "fcp"],
                  cv=4)
gs.fit(data)
'''

In [ ]:
'''
print("Best RMSE ", gs.best_score["rmse"])
print("Best parameters for RMSE ", gs.best_params["rmse"])  

print("Best Ranking (FCP) ", gs.best_score["fcp"])
print("Best parameters for ranking ", gs.best_params["fcp"])  

Output
Best RMSE  0.9134653373625696
Best parameters for RMSE  {'n_epochs': 20, 'lr_all': 0.001, 'reg_all': 0.01}
Best Ranking (FCP)  0.7091397211144954
Best parameters for ranking  {'n_epochs': 20, 'lr_all': 0.001, 'reg_all': 0.5}
'''

In [44]:
#Best params for best fcp ranking gives better results than the params for best rmse
recommender = SVD(n_epochs= 10, lr_all= 0.001, reg_all= 0.5)

In [45]:
'''
Test whether splitting the train data into different train and test data would help improve the recommender
Which it didn't.

from surprise.model_selection import cross_validate
from surprise.model_selection import KFold
from surprise import accuracy

kf = KFold(n_splits=4)
'''

'\nfrom surprise.model_selection import cross_validate\nfrom surprise.model_selection import KFold\nfrom surprise import accuracy\n\nkf = KFold(n_splits=4)\n'

In [46]:
'''
fold_n = 1

for trainset, testset in kf.split(data):
    recommender.fit(trainset)
    predictions = recommender.test(testset)
    
    rmse_ = accuracy.rmse(predictions, verbose=False)
    mae_ = accuracy.mae(predictions, verbose=False)
    rank_qualit_ = accuracy.fcp(predictions, verbose=False)
    
    print('--- Fold: ', fold_n, '----')
    print('Pred accuracy (MAE): {:.2f}'.format(mae_), ','
          'Pred accuracy (RMSE): {:.2f}'.format(rmse_), ','
          'Pred accuracy (FCP): {:.2f}'.format(rank_qualit_)) 
    
    fold_n +=1
'''

"\nfold_n = 1\n\nfor trainset, testset in kf.split(data):\n    recommender.fit(trainset)\n    predictions = recommender.test(testset)\n    \n    rmse_ = accuracy.rmse(predictions, verbose=False)\n    mae_ = accuracy.mae(predictions, verbose=False)\n    rank_qualit_ = accuracy.fcp(predictions, verbose=False)\n    \n    print('--- Fold: ', fold_n, '----')\n    print('Pred accuracy (MAE): {:.2f}'.format(mae_), ','\n          'Pred accuracy (RMSE): {:.2f}'.format(rmse_), ','\n          'Pred accuracy (FCP): {:.2f}'.format(rank_qualit_)) \n    \n    fold_n +=1\n"

In [47]:
recommender.fit(rating_df)

In [48]:
# Get a list of all individual items from content.csv
#items_all = content_df.iloc[:,0].as_matrix()
#len(items_all)

In [49]:
items_train = train_data["itemID"]
items = items_train.sort_values()
items = items.as_matrix(items)
items_set = set(items)
len(items_set)

c:\users\katha\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  after removing the cwd from sys.path.

845

In [50]:
#get a list of all users to iterate over
users_all = test_data["userID"].as_matrix()
len(users_all)

c:\users\katha\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  This is separate from the ipykernel package so we can avoid doing imports until

1992

In [51]:
predictions = []
item_pred = []
i = 0
for user in users_all:
    for item in items_set:
        predictions += recommender.predict(user,item)
    i += 1

In [52]:
# 0 is the user
# 1 is the item id
# 3 is the prediction
#predictions

In [53]:
ind_pred = []
for i in range(0, len(predictions), 5):
    ind_pred.append(predictions[i:i + 5])

In [54]:
columns = ["userID", "itemID", "none", "predEst", "impossible"]
df = pd.DataFrame(ind_pred , columns=columns)

In [55]:
df = df.sort_values(by=['userID','predEst'], ascending=False)
df

         userID  itemID  none   predEst                 impossible
1682527   12073     318  None  4.211248  {'was_impossible': False}
1682749   12073     858  None  4.196685  {'was_impossible': False}
1682786   12073     922  None  4.167136  {'was_impossible': False}
1682893   12073    1148  None  4.165047  {'was_impossible': False}
1682764   12073     904  None  4.140810  {'was_impossible': False}
1682771   12073     912  None  4.132076  {'was_impossible': False}
1683218   12073    1207  None  4.130620  {'was_impossible': False}
1682499   12073     260  None  4.126119  {'was_impossible': False}
1682910   12073    1198  None  4.126111  {'was_impossible': False}
1682927   12073    1212  None  4.106118  {'was_impossible': False}
1682772   12073     913  None  4.103301  {'was_impossible': False}
1682809   12073    3030  None  4.101895  {'was_impossible': False}
1683011   12073    3435  None  4.099929  {'was_impossible': False}
1682906   12073    1193  None  4.097746  {'was_impossible': False}
1682767   12073     908  None  4.094640  {'was_impossible': False}
1682780   12073     923  None  4.090733  {'was_impossible': False}
1682947   12073    1254  None  4.084053  {'was_impossible': False}
1682700   12073    2762  None  4.081063  {'was_impossible': False}
1682785   12073     928  None  4.077482  {'was_impossible': False}
1682950   12073    3307  None  4.073791  {'was_impossible': False}
1682952   12073    1262  None  4.073606  {'was_impossible': False}
1682508   12073    2324  None  4.072557  {'was_impossible': False}
1682889   12073    1136  None  4.062677  {'was_impossible': False}
1682945   12073    1252  None  4.059884  {'was_impossible': False}
1682932   12073    1223  None  4.058900  {'was_impossible': False}
1682733   12073    2858  None  4.058559  {'was_impossible': False}
1682909   12073    1197  None  4.051731  {'was_impossible': False}
1682937   12073    1234  None  4.048589  {'was_impossible': False}
1682654   12073     593  None  4.047942  {'was_impossible': False}
1682511   12073    2329  None  4.032865  {'was_impossible': False}
...         ...     ...   ...       ...                        ...
780           1    1831  None  3.008160  {'was_impossible': False}
323           1    2808  None  3.004447  {'was_impossible': False}
192           1    2471  None  3.000680  {'was_impossible': False}
66            1     172  None  2.994814  {'was_impossible': False}
489           1    1126  None  2.986441  {'was_impossible': False}
179           1     393  None  2.975985  {'was_impossible': False}
303           1    2748  None  2.973712  {'was_impossible': False}
767           1    1772  None  2.966483  {'was_impossible': False}
578           1    3354  None  2.954952  {'was_impossible': False}
167           1     374  None  2.952047  {'was_impossible': False}
351           1     849  None  2.938536  {'was_impossible': False}
146           1    2392  None  2.933843  {'was_impossible': False}
791           1    1882  None  2.915635  {'was_impossible': False}
762           1    3802  None  2.893913  {'was_impossible': False}
826           1    1984  None  2.872683  {'was_impossible': False}
821           1    1971  None  2.837724  {'was_impossible': False}
266           1    2642  None  2.826259  {'was_impossible': False}
325           1    2816  None  2.816794  {'was_impossible': False}
534           1    3268  None  2.807262  {'was_impossible': False}
371           1    2950  None  2.806414  {'was_impossible': False}
672           1    1562  None  2.777092  {'was_impossible': False}
184           1     405  None  2.775107  {'was_impossible': False}
617           1    3439  None  2.765792  {'was_impossible': False}
1             1    2053  None  2.759776  {'was_impossible': False}
313           1     737  None  2.750551  {'was_impossible': False}
123           1    2338  None  2.750525  {'was_impossible': False}
285           1    2701  None  2.739884  {'was_impossible': False}
295           1    2720  None  2.723774  {'was_impossible': False}
764           1    1760  None  2.718881  {'was_impossible': False}
236           1     546  None  2.517121  {'was_impossible': False}

[1683240 rows x 5 columns]

In [56]:
df = df.iloc[:,0:4]
len(df["userID"])
df

         userID  itemID  none   predEst
1682527   12073     318  None  4.211248
1682749   12073     858  None  4.196685
1682786   12073     922  None  4.167136
1682893   12073    1148  None  4.165047
1682764   12073     904  None  4.140810
1682771   12073     912  None  4.132076
1683218   12073    1207  None  4.130620
1682499   12073     260  None  4.126119
1682910   12073    1198  None  4.126111
1682927   12073    1212  None  4.106118
1682772   12073     913  None  4.103301
1682809   12073    3030  None  4.101895
1683011   12073    3435  None  4.099929
1682906   12073    1193  None  4.097746
1682767   12073     908  None  4.094640
1682780   12073     923  None  4.090733
1682947   12073    1254  None  4.084053
1682700   12073    2762  None  4.081063
1682785   12073     928  None  4.077482
1682950   12073    3307  None  4.073791
1682952   12073    1262  None  4.073606
1682508   12073    2324  None  4.072557
1682889   12073    1136  None  4.062677
1682945   12073    1252  None  4.059884
1682932   12073    1223  None  4.058900
1682733   12073    2858  None  4.058559
1682909   12073    1197  None  4.051731
1682937   12073    1234  None  4.048589
1682654   12073     593  None  4.047942
1682511   12073    2329  None  4.032865
...         ...     ...   ...       ...
780           1    1831  None  3.008160
323           1    2808  None  3.004447
192           1    2471  None  3.000680
66            1     172  None  2.994814
489           1    1126  None  2.986441
179           1     393  None  2.975985
303           1    2748  None  2.973712
767           1    1772  None  2.966483
578           1    3354  None  2.954952
167           1     374  None  2.952047
351           1     849  None  2.938536
146           1    2392  None  2.933843
791           1    1882  None  2.915635
762           1    3802  None  2.893913
826           1    1984  None  2.872683
821           1    1971  None  2.837724
266           1    2642  None  2.826259
325           1    2816  None  2.816794
534           1    3268  None  2.807262
371           1    2950  None  2.806414
672           1    1562  None  2.777092
184           1     405  None  2.775107
617           1    3439  None  2.765792
1             1    2053  None  2.759776
313           1     737  None  2.750551
123           1    2338  None  2.750525
285           1    2701  None  2.739884
295           1    2720  None  2.723774
764           1    1760  None  2.718881
236           1     546  None  2.517121

[1683240 rows x 4 columns]

In [57]:
top10 = []
for i in range(0, len(df["userID"]), len(items_set)):
    top10.append(df[i:i+10])

In [58]:
# User ID and 10 Item IDs
cols = ["userID", "recommended_itemIDs"]
top10_df = pd.DataFrame(columns = cols)

top10_df.iloc[:,0:2]

Empty DataFrame
Columns: [userID, recommended_itemIDs]
Index: []

In [59]:
#---------TESTING
value = top10[0].iloc[2]['userID']

In [60]:
items_string = ""
items_str_list = []
users_list = []
for elem in top10:
    listtest = elem["itemID"].tolist()
    stringtest = str(listtest).strip('[]').replace(",", " ")
    items_str_list.append(stringtest)
    users_list.append(elem.iloc[2]['userID'])

In [61]:
top10_df["recommended_itemIDs"] = items_str_list
top10_df["userID"] = users_list

In [63]:
top10_df = top10_df.sort_values("userID")

In [64]:
top10_df.to_csv("../data/competition15.csv", index=False)